Port {{ security_ssh_port | default(22) }}
PermitRootLogin {{ security_ssh_permit_root_login | default('no') }}
PasswordAuthentication {{ security_ssh_password_authentication | default('no') }}
PubkeyAuthentication {{ security_ssh_pubkey_authentication | default('yes') }}
MaxAuthTries {{ security_ssh_max_auth_tries | default(3) }}
ClientAliveInterval {{ security_ssh_client_alive_interval | default(300) }}
ClientAliveCountMax {{ security_ssh_client_alive_count_max | default(2) }}
X11Forwarding {{ security_ssh_x11_forwarding | default('no') }}
AllowAgentForwarding {{ security_ssh_allow_agent_forwarding | default('no') }}
